<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @goal.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @goal.descripcion %>
</p>

<p>
  <strong>Finaliza:</strong>
  <%= @goal.finaliza %>
</p>

<p>
  <strong>Video:</strong>
  <%= @goal.video %>
</p>

<p>
  <strong>Pdf:</strong>
  <%= @goal.pdf %>
</p>

<p>
  <strong>Link1:</strong>
  <%= @goal.link1 %>
</p>

<p>
  <strong>Link2:</strong>
  <%= @goal.link2 %>
</p>

<p>
  <strong>Abrevencido:</strong>
  <%= @goal.abrevencido %>
</p>

<p>
  <strong>Evaluavencido:</strong>
  <%= @goal.evaluavencido %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @goal.peso %>
</p>

<p>
  <strong>Evaluacion:</strong>
  <%= @goal.evaluacion %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', goals_path %>
