%html
  %head
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload' 
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel =>"stylesheet"}
  %body  
    .header
      = render '/partials/navegacion'
      -unless notice==nil?
        %div{:class => "z-depth-5 center blue-text"}
          .p
            =notice
      -unless alert==nil?
        %div{:class => "z-depth-5 center blue-text"}
          .p
            =alert
    .main
      = yield
      :javascript
        $(document).ready(function(){
          $('.tooltipped').tooltip({delay: 50});
        });